@charset "UTF-8";
/* CSS Document */

body {
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	background-image: url(Background.gif);
	color:white;
	font-size:20px;
	text-align:left;
}

	#scene_text {
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
		font-size:22px;
		color:white;
	
	}
	#choices button {
		background-color:black;
		margin:3px inherit;
		padding:4px inherit;
		border:inset;
		border-color:gray;
		text-align:center;
		color:skyblue;
		font-size:16px;
	}
	#choices {
		float:inherit;
		text-align:center;
	}